 
.bg-image{
    width: 90% !important;
}

.titles
{
    font-family: 'Kaushan Script', cursive;
    font-size: 5rem;
}
.titles1
{
    font-family: 'Kaushan Script', cursive;
    font-size: 5rem;
}


@media (max-width: 1500px)
{
    
    .section-main-4 .section-main-image {
        width: 60% !important;
    }
}